<div class="jumbotron">
  <div class="container">
    <h1>Welcome!</h1>
    <h5>Life can be hard.....if you don't have the right tool to manage it! <br> <br>
      Presenting <b> Manage My Madness </b>. Set yourself up with a page and organise your workload. Delegate if you need to!  </h5>
    </div>
  </div>
