<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Manage My Madness!</title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/jquery/dist/jquery.min.js" charset="utf-8"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
  <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Handlee|Sarala:400,700" rel="stylesheet">  
</head>
<body>

  <%- include ./application/_header %>

  <section class="container">
  <%- body %>

  <%- include ./application/_footer %>

  </section>

</body>
</html>
