<h1>New Task</h1>
<form action="/tasks" method="post">
  <div class="form-group col-md-6">
    <label for="task_description">Task Detail/Description</label>
    <input type="text" class="form-control" id="task_description" placeholder="Task" name="task[description]" required>
  </div>
  <div class="form-group col-md-6">
    <label for="task_category">Category</label>
    <select class="form-control" id="task_category" name="task[category]" required>
        <option value="">Please Select</option>
        <option value="Work">Work</option>
        <option value="Home">Home</option>
        <option value="Social">Social</option>
        <option value="Personal">Personal</option>
    </select>
  </div>
  <div class="form-group col-md-6">
    <label for="task_startDate">Start Date</label>
    <input type="date" class="form-control" id="task_startDate" name="task[startDate]" required>
  </div>
  <div class="form-group col-md-6">
    <label for="task_endDate">End Date</label>
    <input type="date" class="form-control" id="task_endDate" name="task[endDate]" required>
  </div>
<div class="form-group col-md-6">
  <label for="task_owner">Task Owner</label>
  <select class="form-control" id="task_owner" name="task[owner]" required>
    <option value="---">Please Select</option>
    <% users.forEach(user => { %>
      <option value="<%= user._id %>"><%= user.name %></option>
    <% }) %>
  </select>
</div>
<div class="form-group col-md-6">
  <label for="task_assignedTo">Assigned To</label>
  <select class="form-control" id="task_assignedTo" name="task[assignedTo]" required>
    <option value="---">Please Select</option>
    <% users.forEach(user => { %>
      <option value="<%= user._id %>"><%= user.name %></option>
    <% }) %>
  </select>
</div>
<br>
<input type="submit" value="Submit" class="btn btn-primary">
</form>
