<h1>Add User</h1>
<form action="/users" method="post">
  <div class="form-group">
    <label for="user_name">Name</label>
    <input type="text" class="form-control" id="user_name" placeholder="Name" name="user[name]">
  </div>
  <div class="form-group">
    <label for="user_email">Email</label>
    <input type="text" class="form-control" id="user_email" placeholder="Email Address" name="user[email]">
  </div>
  <div class="form-group">
    <label for="user_email">Phone</label>
    <input type="text" class="form-control" id="user_phone" placeholder="Phone Number" name="user[phone]">
  </div>
  <input type="submit" value="Submit" class="btn btn-primary">
</form>
